.container {
    max-width: 100%;
    margin: 0 auto;
    padding:15px;
}
agm-map {
    height: 500px;
}
.button-back {
    background: lightslategray;
    color: #000;
    margin-bottom: 20px;
}
.garage-title {
    text-align:center;
}
.garage-title span {
    color: blue;
}
.garage-free {
    text-align: center;
    color: green;
}
.garage-total {
    text-align: center;
    color: blue;
}